PUBLIC_BASE_URL="http://localhost:5174"
VITE_PORT=5174

KILN_LOAD_BOUND_FORM_ENDPOINT=http://localhost:3001/api/loadBoundForm
KILN_SAVE_FORM_DATA_ENDPOINT=http://localhost:3001/api/saveFormData

BETTER_AUTH_URL="http://localhost:5174"
BETTER_AUTH_SECRET=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ISSUER=
